@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;

}

body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;

}

h2{
    margin: 0;
    text-align: center;
    padding: 1rem;
}

ul li{
    margin: 0 1rem;
    font-size: 1.1rem;

}
ul li lable{
    cursor: pointer;
}


.quiz-container{
    background-color: #fff;
    border-radius:  10px;
    box-shadow:  0 0 10px 2px rgba(100 , 100, 100,0.1);
    width: 600px;
    max-width:  100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

button{
    background-color: #8e44ad;
    color: white;
    font-family: inherit;
    display: block;
    width: 100%;
    padding : 1.3rem;
    border: none;
    font-size: 1.1rem;
}

button:hover{
    background-color: #732d91;
}

button:focus{
    outline: none;
    background-color: #5e3370;
}